/********* GENERAL *********/

body
{
	background-color: #FDFEFE;
}

#bloc_page
{
    margin: auto;
}

#conteneur
{
	width: 768px;
	margin:auto;
	margin-top: -103.5px;
}
label{
	display: block;
    width: 150px;
    float: left;
}

section
{
    display: flex;
    height: 500px;
    border: 2px solid black;
}

article, aside
{
    text-align: justify;
}


/********* FIN GENERAL  *********/

/********* HEADER *********/

header
{
	background-color: #3B5998;
	margin-background-color: #3B5998;
	display: flex;
}


.header{
	width: 100%;
}
#logo{
	width: 7%;
	float:left;
}
#logo_texte{
	width: 20%;
	float:left;
	color:#FDFEFE;
}
#titre{
	width: 73%;
	float:left;
	color:#FDFEFE;
	font-size: 25px;
}


/********* FIN HEADER *********/

/********* MENU *********/



#onglet_debut
{
	background-color: #DF0236 ;
	color:#FDFEFE;
}

#onglet_deux
{
	background-color: #00A5CD ;
	color:#FDFEFE;
}

#onglet_trois
{
	background-color: #53AF31 ;
	color:#FDFEFE;
}

#onglet_quatre
{
	background-color: #F0800E ;
	color:#FDFEFE;
}

#onglet_debut:hover, #onglet_deux:hover, #onglet_trois:hover, #onglet_quatre:hover 
{
	color:black;
}

nav{
	display: flex;
    margin-left: 5%;
}

nav ul li
{
	list-style-type: none;
    margin-right: 10%;
}

nav a
{
    font-size: 1.0em;
    color: #181818;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
}


/********* FIN MENU *********/



/********* FOOTER *********/

footer
{
	border-top: 1px solid #3B5998;
	display: flex;
    justify-content: center;

}

#condition_general
{
	float: left;
	margin:35px 0 0 137px;
	color:#3B5998;
	text-decoration: none;

}

#mentions_legal
{
	margin:35px 0 0 70px;
	float: left;
	color:#3B5998;
}

#reglement_site
{
	margin:35px 0 0 70px;
	float: left;
	color:#3B5998;
}

/********* FIN FOOTER*********/

/********* ACCUEUIL *********/

#exp_fil
{
	width: 768px;
	margin:35px 0 35px 0;

}

#explication
{
	margin-right: 20px;
    flex: 3;
}

#fil_actus
{
	flex: 1.2;
    position: relative;
    padding: 10px;
    font-size: 0.9em;
    box-shadow: 6px 6px 6px 6px black inset;
}

/********* FIN ACCUEUIL*********/

/********* LOGIN *********/

#formulaire_login
{
	margin-top: 230px;
	margin-bottom: 230px;
}

.champLogin
{
	margin-left:100px;
}

#loginSubmit{
	margin-left:41.5%;
}

/********* FIN LOGIN*********/

/********* DIALOGUE *********/

#section_status
{	
	width: 25%;
	float:left;
}

#liste_membre
{	
	width: 100%;
	height: 50px;
	border: 2px solid #EF7E15;
	border-radius: 10px;
}

#membre_connecter
{	
	width: 100%;
	height: 446px;
	border: 2px solid #EF7E15;
	border-radius: 10px;
}

.titre_liste_membre
{
	margin: 15px 0 0 17px;
}

.status_connecter
{
	border-radius: 50%;
	width: 10px;
	height: 10px;
	margin: 5px 10px 0 10px;
	float:left; 
	background-color: #53AD34;
}

.status_non_connecter
{
	border-radius: 50%;
	width: 10px;
	height: 10px;
	margin: 5px 10px 0 10px;
	float:left; 
	background-color: red;
}

.status
{
	width: 200px;
	height: 21px;
	margin: 5px 0 0 0;
}

.pseudo
{	
	float:left;
	margin:0 0 0 0;
}

#section_tchat
{	
	width: 75%;
	float:left;
}

#tchat
{	
	width: 100%;
	height: 350px;
	border: 2px solid #EF7E15;
	border-radius: 10px;
	float:left;
}

.texte_dialogue
{
	
	width:100%;
	height: 124px;

}

.bouton
{
	margin: 5 0 0 0;
	border-radius: 10px;
	background-color: #EF7E15;
	color:#FDFEFE;
}

#message
{
	width:100%;

}

.dialogue_pseudo
{
	width:15%;
	float:left;
}

.affichage_message
{
	width:85%;
	float:left;
	border:none;
	overflow: hidden;
	height: 100px;
	word-wrap: break-word;
}


/********* FIN DIALOGUE*********/

/********* LIVRE OR *********/


.anner
{
	width:100%;
	margin:30px 0 0 0;
}

.barre_anner
{
	width:256px;
	border-top: 2px solid #336633;
	float:left;
}

.afficher_anner
{
	width:256px;
	float:left;
	text-align: center;
}

.citation
{
	width:100%;
	margin: 20px 0 20px 0;
}

.citation_text
{
	width:100%;
	word-wrap: break-word;
	margin:auto;
}

.citation_auteur
{
	width:100%;
	word-wrap: break-word;
	margin:auto;
	text-align: center;
}

.form_livre_or
{
	width:100%;
	word-wrap: break-word;
	margin:50px auto 50px auto;
	
}

.bouton_livre_or
{
	border-radius: 10px;
	background-color: #EF7E15;
	color:#FDFEFE;
	margin:auto;
}

.poster_citation
{
	width:100%;
	height:100px;
	margin:auto;
}

.section_anner
{
	width:100%;
}


/********* FIN LIVRE OR *********/

#messageErreur{
	font:bold;
	color: red;
	text-align:center;
}