<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Dialogue</title>
		<link rel="stylesheet" href="css/styles.css">
	</head>

	<body>
		<div id="bande"></div>
		<div id="conteneur">

			<header>
				<p id="logo">
					<img src="images/logo_epsi.png" alt="logo" />
				</p>
				<p id="logo_texte">
					EPSI <br> 
					l'école d'ingénierie <br>
					informatique 
				</p>
				<p id="titre">
					Bienvenue sur class party
				</p>
				<div id="clear"></div>
			</header>

			<div id="menu">
				 <a id="onglet_debut" class="onglet" href="dialogue.html">TCHAT</a>  
				 <a id="onglet_deux" class="onglet" href="http://www.w3schools.com">GALLERIE IMAGE</a>
				 <a id="onglet_trois" class="onglet" href="livre_or.html">LIVRE D'OR</a>
				  <a id="onglet_quatre" class="onglet" href="http://www.w3schools.com">COURS</a>
				  <div id="clear"></div>   
			</div>
			
			<div id="section_status">			
				
				<div id="liste_membre">
					<p class="titre_liste_membre">Les status des membres</p>
				</div><!-- FIN LISTE MEMBRE -->

				<div id="membre_connecter">

					<div class="status">
						<div class="status_connecter"></div>
						<p class="pseudo">Pseudo"boss" pseudo</p>
					</div>
					<div id="clear"></div>
					
					<div class="status">
						<div class="status_connecter"></div>
						<p class="pseudo">Pseudo"boss" pseudo</p>
					</div>
					<div id="clear"></div>

					<div class="status">
						<div class="status_non_connecter"></div>
						<p class="pseudo">Pseudo"boss" pseudo</p>
					</div>
					<div id="clear"></div>

				</div><!-- FIN MEMBRE CONNECTER -->
			</div><!-- FIN SECTION STATUS-->

			<div id="section_tchat">
				
				<div id="tchat">
					<div id="message"> 
						<p class="dialogue_pseudo">Pseudo :</p>
						<p class="affichage_message">azoeiznezoeinazeazoeinzoeizneazoenizoeinazeoazineoazenazoenzaoeazneoazneoazn</p>
						<div id="clear"></div>
					</div>

				</div><!-- FIN TCHAT-->

				<form method="post" action="traitement.php">
					   <textarea class="texte_dialogue" name="pseudo" id="pseudo" placeholder="le message s'affiche ici "></textarea>

					   <input class="bouton" type="submit" value="Envoyer" ></code>	
				</form>

				
			</div><!-- FIN SECTION TCHAT-->
			<div id="clear"></div>

			

			<footer>
				<a href="http://www.w3schools.com"><p id="condition_general">Condition générale</p></a>
				<a href="http://www.w3schools.com"><p id="mentions_legal">Mentions légales</p></a>
				<a href="http://www.w3schools.com"><p id="reglement_site">Règlement du site</p></a>
				<div id="clear"></div>
			</footer>
								

		</div> <!-- FIN CONTENEUR -->
	</body>

</html> 