<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>livre d'or</title>
		<link rel="stylesheet" href="css/styles.css">
	</head>

	<body>
		<div id="bande"></div>
		<div id="conteneur">

			<header>
				<p id="logo">
					<img src="images/logo_epsi.png" alt="logo" />
				</p>
				<p id="logo_texte">
					EPSI <br> 
					l'école d'ingénierie <br>
					informatique 
				</p>
				<p id="titre">
					Bienvenue sur class party
				</p>
				<div id="clear"></div>
			</header>

			<div id="menu">
				 <a id="onglet_debut" class="onglet" href="dialogue.html">TCHAT</a>  
				 <a id="onglet_deux" class="onglet" href="http://www.w3schools.com">GALLERIE IMAGE</a>
				 <a id="onglet_trois" class="onglet" href="livre_or.html">LIVRE D'OR</a>
				  <a id="onglet_quatre" class="onglet" href="http://www.w3schools.com">COURS</a>
				  <div id="clear"></div>   
			</div>

			<div class="section_anner">
				<div class="anner">
					<div class="barre_anner"></div>
					<div class="afficher_anner">2015</div>
					<div class="barre_anner"></div>
					<div id="clear"></div>
				</div>

				<div class="citation">
					<p class="citation_text">" data center ??? c'est un héro de comic "</p>
					<div class="citation_auteur">Karim</div>
				</div>
			</div>

			<div class="section_anner">
				<div class="anner">
					<div class="barre_anner"></div>
					<div class="afficher_anner">2016</div>
					<div class="barre_anner"></div>
					<div id="clear"></div>
				</div>

				<div class="citation">
					<p class="citation_text">" Mais bien sûr qu'il y a un euro Espagnole !!!! "</p>
					<div class="citation_auteur">Karim</div>
				</div>

				<div class="citation">
					<p class="citation_text">" HIN .... HIN .. HIN HIN HIN HIN HINNNNNNNNNNNN !!!! "</p>
					<div class="citation_auteur">Karim</div>
				</div>
			</div>

				<form class="form_livre_or" method="post" action="traitement.php">
					   <textarea class="poster_citation" name="pseudo" id="pseudo" placeholder="écrivez la citation ici "></textarea><br>

					<input class="bouton_livre_or" class="bouton" type="submit" value="Envoyer">
				</form>
			<div id="clear"></div>

			<footer>
				<a href="http://www.w3schools.com"><p id="condition_general">Condition générale</p></a>
				<a href="http://www.w3schools.com"><p id="mentions_legal">Mentions légales</p></a>
				<a href="http://www.w3schools.com"><p id="reglement_site">Règlement du site</p></a>
				<div id="clear"></div>
			</footer>
								

		</div> <!-- FIN CONTENEUR -->
	</body>

</html> 