<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		 xmlns="http://java.sun.com/xml/ns/javaee" 
		 xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
		 id="WebApp_ID" version="3.0"> 
		 
<display-name>Archetype Created Web Application</display-name>
 
 <context-param>
 	<param-name>contextConfigLocation</param-name>
 	<param-value>WEB-INF/do-servlet.xml</param-value>
 </context-param>
 <listener>
	<listener-class>org.springframework.web.context.ContextLoaderListener
	</listener-class>
</listener>

<servlet>
<servlet-name>ClassParty</servlet-name>
<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
<load-on-startup>1</load-on-startup>
</servlet>

<!-- ICI ce servlet sert à diriger toutes les url du projet vers le dispatcherServlet de spring-->
<servlet-mapping>
<servlet-name>ClassParty</servlet-name>
<url-pattern>/</url-pattern> 
</servlet-mapping>


<!-- ICI on va specifier que tout els fichier js, ajax et autres seront dans ce dossier-->
<!-- Il va donc falloir créer un dossier nommé static en dessous de WEB inf aze-->
<servlet-mapping>
 <servlet-name>default</servlet-name>
 <url-pattern>/resources/*</url-pattern>
</servlet-mapping>



</web-app>